* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}


// ------------------------- VARIABLES -------------------------------
//? COLORS
$color_primary : #00BD9D;
$color_white : #FCFFFF;
$color_error : #FA402F;
$dark100 : #0c171c;
$dark75 : rgba(12, 23, 28, 0.75);
$dark25 : rgba(12, 23, 28, 0.25);
$dark10 : rgba(12, 23, 28, 0.1);
$dark5 : rgba(12, 23, 28, 0.05);

//? FONTS
$open_sans: 'Open Sans', sans-serif;
$playfair_display: 'Playfair Display', serif;

//? FONTS SIZES DESKTOP
$heading_1: 5.7rem; //(119px/21px)rem
$heading_2: 4rem; //(84px/21px)rem
$heading_3: 2.8rem; //(60px/21px)rem
$heading_4: 2rem; //(42px/21px)rem
$heading_5: 1.4rem; //(30px/21px)rem
$paragraph: 1rem; //(21px/21px)rem

//? FONT SIZE FOR TABLET
$heading_1_t: 4.2rem; //(90px/21px)rem
$heading_2_t: 3rem; //(64px/21px)rem
$heading_3_t: 2.1rem; //(45px/21px)rem
$paragraph_t: 0.7rem; //(16px/21px)rem

//? BORDER RADIUS
$border_radious: 0.2rem;

body {
    background-color: $color_white;
}

//? LINKS
li {
    list-style-type: none;
}

//? ANCHER TAG
a {
    text-decoration: none;
}

//? HEADING STYLING
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $playfair_display;
}

//? PARAGRAPH STYLING
p {
    font-family: $open_sans;
    font-size: $paragraph;
}

//? HEADER FUNCTION
@mixin make_header($img) {
    background: linear-gradient(90deg, $dark25, $dark25), $img;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

//? MAKE BUTTON
@mixin make_button($color_f, $color_b) {
    font-family: $open_sans;
    font-size: $paragraph;
    padding: 1rem 2rem;
    border-radius: $border_radious;
    background-color: $color_b;
    color: $color_f;
    display: flex;
    justify-content: center;
    align-items: center;
}

//? STYLING FOR CONTACT SECTION
@mixin make_contact_section() {

    .contact_us_area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3 {
            font-size: $heading_3;
        }

        p {
            font-size: $paragraph;
            color: $dark100;
        }

        .contact_info {
            margin-top: 2rem;
            @extend .contact_us_area;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: .5rem;
                margin-top: .5rem;
            }

            svg {
                fill: $color_primary;
            }
        }

        a.btn {
            margin-top: 3rem;
            @include make_button($color_white, $color_primary);

            svg {
                height: 24px;
                width: 24px;
                margin-left: 1rem;
                transition: all .3s ease-in-out;

                path {
                    fill: $color_white;
                }
            }

            &:hover svg {
                transform: translate(5px);
            }
        }
    }

    @media screen and (max-width: 450px) {
        .contact_us_area {
            h3 {
                font-size: $heading_3_t;
            }
        }
    }
}

.main_body {
    min-height: 100vh;
    height: 100%;
}