@import './responsive';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// ------------------------- VARIABLES -------------------------------
//? COLORS
$color_primary : #ad50d2;
$color_primary_light : #ad50d23e;
$color_white : #FCFFFF;
$color_error : #FA402F;
$dark100 : #0c171c;
$dark75 : #0c171cbf;
$dark25 : #0c171c40;
$dark10 : #0c171c1a;
$dark5 : #0c171c0d;

//? FONTS
$open_sans: 'Open Sans', sans-serif;
$playfair_display: 'Playfair Display', serif;


// 1rem = 16px
//? FONTS SIZES DESKTOP
$heading_1: 5.61rem;
$heading_2: 4.209rem;
$heading_3: 3.157rem;
$heading_4: 2.369rem;
$heading_5: 1.777rem;
$heading_6: 1.333rem;
$paragraph: 1rem;

//? FONT SIZE FOR TABLET and MOILE
$heading_1_t: 4.946rem; //(90px/21px)rem
$heading_2_t: 3.5rem; //(64px/21px)rem
$heading_3_t: 2.5rem; //(45px/21px)rem
$heading_4_t: 1.75rem; //(45px/21px)rem
$heading_5_t: 1.25rem; //(45px/21px)rem
$paragraph_t: 0.875rem; //(16px/21px)rem

//? BORDER RADIUS
$border_radius: 0rem;

body {
    background-color: $color_white;
}

//? LINKS
li {
    list-style-type: none;
}

//? ANCHER TAG
a {
    text-decoration: none;
}

//? HEADING STYLING
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $playfair_display;
}

//? PARAGRAPH STYLING
p {
    font-family: $open_sans;
    font-size: $paragraph;
}

//? HEADER FUNCTION
@mixin make_header() {
    overflow: hidden;
    position: relative;
    height: 100vh;

    .hero_image {
        height: 100vh;
        width: 100%;
        object-fit: cover;
        position: absolute;
        z-index: -1;
    }

    .hero_text_container {
        height: 100%;
        padding: 0 8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: auto;
        color: $color_white;

        .hero_title_text {
            font-size: $heading_1;
            line-height: 1em;
            margin-bottom: 2rem;
        }

        .hero_body_text {
            width: 60%;
        }

        .hero_cta_area {
            margin-top: 4rem;

            a {
                padding: 1rem 3rem;
                background-color: $dark75;
                color: $color_white;
                border: 2px solid $color_white;
                font-family: $open_sans;
                border-radius: 10rem;
            }
        }
    }
}

//? MAKE BUTTON
@mixin make_button($color_f, $color_b) {
    font-family: $open_sans;
    font-size: $paragraph;
    padding: 1rem 2rem;
    border-radius: $border_radius;
    background-color: $color_b;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    p {
        color: $color_f;
    }

    .btn_arrow {
        transition: all .2s ease-in-out;
        color: $color_white;
    }

    &:hover>.btn_arrow {
        transform: translateX(5px);
        transition: all .2s ease-in-out;
    }
}

//? STYLING FOR CONTACT SECTION
@mixin make_contact_section() {

    .contact_us_area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3 {
            font-size: $heading_3;
        }

        p {
            font-size: $paragraph;
            color: $dark100;
        }

        .contact_info {
            margin-top: 2rem;
            @extend .contact_us_area;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: .5rem;
                margin-top: .5rem;
            }

            svg {
                fill: $color_primary;
            }
        }

        a.btn {
            margin-top: 3rem;
            @include make_button($color_white, $color_primary);

            p {
                color: $color_white;
            }

            svg {
                height: 24px;
                width: 24px;
                margin-left: 1rem;
                transition: all .3s ease-in-out;

                path {
                    fill: $color_white;
                }
            }

            &:hover svg {
                transform: translate(5px);
            }
        }
    }

    //? CONTACT SECTION RESPONSIVE CODE
    @media screen and (max-width: 450px) {
        .contact_us_area {
            h3 {
                font-size: $heading_3_t;
            }

            a.btn {
                .contact_info p {
                    font-size: $paragraph_t;
                }

                svg {
                    height: 1rem;
                }
            }
        }
    }
}

//? MAINBODY STYLING
.main_body {
    min-height: 100vh;
    height: 100%;
}