//? VARIABLE for hamberger
$animation_timing : 200ms ease-in-out;
$bar_height: .15rem;
$bar_width: 1.5rem;
$bar_gap: .3rem;
$hamberger_height: calc(($bar_height*3) + ($bar_gap)*2);
$x_width: calc($hamberger_height * 1.41421356237);

nav.nav_container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: $color_white;
    padding: 1rem 8rem;
    border-bottom: 1px solid $dark25;
    z-index: 9999;

    .hamberger {
        display: flex;
        flex-direction: column;
        gap: $bar_gap;
        width: max-content;
        cursor: pointer;

        input {
            appearance: none;
            padding: 0;
            margin: 0;
            outline: none;
            pointer-events: none;

            &:checked {
                opacity: 0;
                width: 0;
            }
        }
    }

    .hamberger::before,
    .hamberger::after,
    .hamberger input {
        content: "";
        width: $bar_width;
        height: $bar_height;
        transform-origin: left center;
        background: $dark100;
        border-radius: 1rem;
        transition: all $animation_timing;
    }

    .hamberger:has(input:checked)::before {
        rotate: 45deg;
        width: $x_width;
        translate: 0 calc($bar_height / -2);
        transition: all $animation_timing;
    }

    .hamberger:has(input:checked)::after {
        rotate: -45deg;
        width: $x_width;
        translate: 0 calc($bar_height / 2);
        transition: all $animation_timing;
    }

    .logo_container .logo {
        height: 40px;
    }

    .social_container {
        i.social_icons {
            padding: .5rem;
            cursor: pointer;
            font-size: 18px;
            border-radius: 100%;

            &:hover {
                background: $color_primary_light;
            }
        }
    }
}


//? NAVIGATION LINKS CONTAINER STYLING
.nav_link_container {
    position: relative;
    z-index: 1;

    ul.nav_links {
        position: fixed;
        background: $color_white;
        height: 0%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3em;
        overflow: hidden;

        .link_area {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3em;
        }

        .links {
            font-family: $playfair_display;
            font-size: $heading_4;
            opacity: 0;
            transform: translateY(10px);
            transition: all 0.3s ease;

            &:nth-child(1) {
                transition: all 0.3s ease 0.2s;
            }

            &:nth-child(2) {
                transition: all 0.3s ease 0.4s;
            }

            &:nth-child(3) {
                transition: all 0.3s ease 0.6s;
            }

            &:nth-child(4) {
                transition: all 0.3s ease 0.8s;
            }

            &.fade {
                opacity: 1;
                transform: translateY(0px);
            }

            a {
                color: $dark100;
                transition: all .2s ease-in-out;

                &:hover {
                    color: $color_primary;
                }
            }
        }

        .social_container_2 {
            display: none;

            .social_icons_2 {
                padding: .5rem;
                cursor: pointer;
                font-size: 18px;
                border-radius: 100%;
                opacity: 0;
                transition: all 0.2s ease 0s;

                &:nth-child(1) {
                    transition: all 0.3s ease 1s;
                }

                &:nth-child(2) {
                    transition: all 0.3s ease 1.2s;
                }

                &:nth-child(3) {
                    transition: all 0.3s ease 1.4s;
                }

                &.fade_icons {
                    opacity: 1;
                }

                &:hover {
                    background: $color_primary_light;
                    transition: all 0.2s ease 0s;
                }
            }
        }
    }

    ul.show {
        height: 100%;
        transition: all $animation_timing;
    }
}


//? RESPONSIVE STYLING ----------------------------------------- 

@media screen and (max-width: 768px) {
    nav.nav_container {
        padding: 1rem 4rem;
    }

    .social_container {
        display: none;
    }

    .nav_link_container {
        ul.nav_links {
            padding: 0em 4rem;
            align-items: flex-start;

            .link_area {
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
            }

            #social_container_2 {
                display: initial;
            }
        }

        ul.show {
            width: 100%;
        }
    }
}

@media screen and (max-width: 480px) {
    nav.nav_container {
        padding: 1rem 2rem;

        .logo_container .logo {
            height: 35px;
        }

    }

    .nav_link_container {
        ul.nav_links {
            padding: 0em 1em;
        }
    }
}