@import './global/global';
@import './global/navigation';
@import "./global/footer";

// header {
//     @mixin
// }

header .error_text_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    // background: lightcoral;
    // z-index: -1;

    .text_area {
        margin-bottom: 4rem;
    }

    h1 {
        font-size: $heading_1;
        margin-bottom: 4rem;
        color: $color_error;
    }

    h2 {
        font-size: $heading_2
    }

    p {
        color: $dark75;
    }

    .btn {
        padding: 1rem 2rem;
        background-color: $dark100;
        font-family: $open_sans;
        border-radius: $border_radious;
        color: $color_white;
        transition: .3s ease-in-out;
        outline: none;

        &:hover {
            background: $color_primary;
        }
    }
}