* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FCFFFF;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

.main_body {
  min-height: 100vh;
  height: 100%;
}

nav.nav_container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #FCFFFF;
  padding: 1rem 8rem;
  z-index: 9999;
  border-bottom: 1px solid rgba(12, 23, 28, 0.2509803922);
}
nav.nav_container .hamberger {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
}
nav.nav_container .hamberger input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}
nav.nav_container .hamberger input:checked {
  opacity: 0;
  width: 0;
}
nav.nav_container .hamberger::before,
nav.nav_container .hamberger::after,
nav.nav_container .hamberger input {
  content: "";
  width: 1.5rem;
  height: 0.15rem;
  transform-origin: left center;
  background: #0c171c;
  border-radius: 1rem;
  transition: all 200ms ease-in-out;
}
nav.nav_container .hamberger:has(input:checked)::before {
  rotate: 45deg;
  width: 1.4849242405rem;
  translate: 0 -0.075rem;
  transition: all 200ms ease-in-out;
}
nav.nav_container .hamberger:has(input:checked)::after {
  rotate: -45deg;
  width: 1.4849242405rem;
  translate: 0 0.075rem;
  transition: all 200ms ease-in-out;
}
nav.nav_container .logo_container .logo {
  height: 40px;
}
nav.nav_container .social_container i.social_icons {
  padding: 0.5rem;
  cursor: pointer;
  font-size: 18px;
  border-radius: 100%;
}
nav.nav_container .social_container i.social_icons:hover {
  background: rgba(173, 80, 210, 0.2431372549);
}

.nav_link_container {
  position: relative;
  z-index: 1;
}
.nav_link_container ul.nav_links {
  position: fixed;
  background: #FCFFFF;
  height: 0%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.nav_link_container ul.nav_links .link_area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}
.nav_link_container ul.nav_links .links {
  font-family: "Playfair Display", serif;
  font-size: 2.369rem;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease;
}
.nav_link_container ul.nav_links .links:nth-child(1) {
  transition: all 0.3s ease 0.2s;
}
.nav_link_container ul.nav_links .links:nth-child(2) {
  transition: all 0.3s ease 0.4s;
}
.nav_link_container ul.nav_links .links:nth-child(3) {
  transition: all 0.3s ease 0.6s;
}
.nav_link_container ul.nav_links .links:nth-child(4) {
  transition: all 0.3s ease 0.8s;
}
.nav_link_container ul.nav_links .links.fade {
  opacity: 1;
  transform: translateY(0px);
}
.nav_link_container ul.nav_links .links a {
  color: #0c171c;
  transition: all 0.2s ease-in-out;
}
.nav_link_container ul.nav_links .links a:hover {
  color: #ad50d2;
}
.nav_link_container ul.nav_links .social_container_2 {
  display: none;
}
.nav_link_container ul.nav_links .social_container_2 .social_icons_2 {
  padding: 0.5rem;
  cursor: pointer;
  font-size: 18px;
  border-radius: 100%;
  opacity: 0;
  transition: all 0.2s ease 0s;
}
.nav_link_container ul.nav_links .social_container_2 .social_icons_2:nth-child(1) {
  transition: all 0.3s ease 1s;
}
.nav_link_container ul.nav_links .social_container_2 .social_icons_2:nth-child(2) {
  transition: all 0.3s ease 1.2s;
}
.nav_link_container ul.nav_links .social_container_2 .social_icons_2:nth-child(3) {
  transition: all 0.3s ease 1.4s;
}
.nav_link_container ul.nav_links .social_container_2 .social_icons_2.fade_icons {
  opacity: 1;
}
.nav_link_container ul.nav_links .social_container_2 .social_icons_2:hover {
  background: rgba(173, 80, 210, 0.2431372549);
  transition: all 0.2s ease 0s;
}
.nav_link_container ul.show {
  height: 100%;
  transition: all 200ms ease-in-out;
  pointer-events: all;
}

@media screen and (max-width: 800px) {
  nav.nav_container {
    padding: 1rem 4rem;
  }
  .social_container {
    display: none;
  }
  .nav_link_container ul.nav_links {
    padding: 0em 4rem;
    align-items: flex-start;
  }
  .nav_link_container ul.nav_links .link_area {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .nav_link_container ul.nav_links #social_container_2 {
    display: initial;
  }
  .nav_link_container ul.show {
    height: 100%;
  }
}
@media screen and (max-width: 450px) {
  nav.nav_container {
    padding: 1rem 2rem;
  }
  nav.nav_container .logo_container .logo {
    height: 35px;
  }
  .nav_link_container ul.nav_links {
    padding: 0em 2rem;
  }
  .nav_link_container ul.nav_links .link_area .links a {
    font-size: 2.369rem;
  }
}
footer.footer_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 8rem;
  background: rgba(12, 23, 28, 0.1019607843);
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: rgba(12, 23, 28, 0.7490196078);
}
footer.footer_area .short_links {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer.footer_area .short_links a {
  margin: 0rem 1rem;
  color: rgba(12, 23, 28, 0.7490196078);
}
footer.footer_area .short_links a:hover {
  color: #0c171c;
}
footer.footer_area .social_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer.footer_area .social_container .social_icon svg {
  margin: 0rem 1rem;
  transition: 0.3s ease-in-out;
  color: rgba(12, 23, 28, 0.7490196078);
}
footer.footer_area .social_container .social_icon svg:hover {
  color: #0c171c;
}

@media screen and (max-width: 1040px) {
  footer.footer_area {
    font-size: 0.875rem;
    padding: 1rem 2rem;
  }
  footer.footer_area .social_container svg {
    height: 0.8rem;
    width: 0.8rem;
  }
  footer.footer_area .copyright_text p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 900px) {
  footer.footer_area {
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 0.7rem;
    padding: 1rem 1rem;
  }
  footer.footer_area .links.dots {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  footer.footer_area {
    align-items: flex-start;
    padding: 1rem 0rem;
  }
  footer.footer_area .short_links a {
    margin: 0rem 0.5rem;
  }
}
header {
  overflow: hidden;
  position: relative;
  height: 100vh;
}
header .hero_image {
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: -1;
}
header .hero_text_container {
  height: 100%;
  padding: 0 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: auto;
  color: #FCFFFF;
}
header .hero_text_container .hero_title_text {
  font-size: 5.61rem;
  line-height: 1em;
  margin-bottom: 2rem;
}
header .hero_text_container .hero_body_text {
  width: 60%;
}
header .hero_text_container .hero_cta_area {
  margin-top: 4rem;
}
header .hero_text_container .hero_cta_area a {
  padding: 1rem 3rem;
  background-color: rgba(12, 23, 28, 0.7490196078);
  color: #FCFFFF;
  border: 2px solid #FCFFFF;
  font-family: "Open Sans", sans-serif;
  border-radius: 10rem;
}

header .hero_text_container {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #FCFFFF;
}
header .hero_text_container h1 {
  font-size: 5.61rem;
}
header .hero_text_container h3 {
  font-size: 3.157rem;
}

main section.section {
  padding: 8rem 8rem 0;
}
main section:last-child {
  padding-bottom: 8rem;
}
main section.about_us_area .about_founder_container {
  display: grid;
  grid-template-areas: "founder founder_img";
  gap: 6rem;
}
main section.about_us_area .about_founder_container #founder {
  grid-area: founder;
}
main section.about_us_area .about_founder_container #founder h3 {
  font-size: 3.157rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}
main section.about_us_area .about_founder_container #founder_img {
  grid-area: founder_img;
  overflow: hidden;
  max-height: 500px;
}
main section.about_us_area .about_founder_container #founder_img .img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(1);
}
main section.about_us_area .about_team_container {
  display: grid;
  grid-template-areas: "team_img team";
  gap: 8rem;
  margin-top: 8rem;
}
main section.about_us_area .about_team_container #team {
  grid-area: team;
}
main section.about_us_area .about_team_container #team h3 {
  font-size: 3.157rem;
  margin-bottom: 2rem;
}
main section.about_us_area .about_team_container #team_img {
  grid-area: team_img;
  overflow: hidden;
  max-height: 500px;
}
main section.about_us_area .about_team_container #team_img .img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(1);
}
main section.work_counter {
  display: grid;
  grid-template-areas: "work1 work2 work3 work4";
}
main section.work_counter .wrok_1 {
  grid-area: work1;
}
main section.work_counter .wrok_2 {
  grid-area: work2;
}
main section.work_counter .wrok_3 {
  grid-area: work3;
}
main section.work_counter .wrok_4 {
  grid-area: work4;
}
main section.work_counter .work {
  text-align: center;
  color: #0c171c;
}
main section.work_counter .work h1 {
  font-size: 4.209rem;
}
main section.work_counter .work h4 {
  font-size: 1rem;
  color: rgba(12, 23, 28, 0.7490196078);
}
main section.instagram_work_area h3 {
  font-size: 3.157rem;
  text-align: center;
}
main section.instagram_work_area .insta_pic_area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
  margin-top: 4rem;
  gap: 1rem;
}
main section.instagram_work_area .insta_pic_area .insta_pic_container {
  position: relative;
  overflow: hidden;
  height: 300px;
  top: 0;
  left: 0;
  flex: 1;
}
main section.instagram_work_area .insta_pic_area .insta_pic_container:hover img {
  transform: scale(1.05);
}
main section.instagram_work_area .insta_pic_area .insta_pic_container img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s ease-in-out;
}
main section.contact_us .contact_us_area, main section.contact_us .contact_us_area .contact_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main section.contact_us .contact_us_area h3, main section.contact_us .contact_us_area .contact_info h3 {
  font-size: 3.157rem;
}
main section.contact_us .contact_us_area p, main section.contact_us .contact_us_area .contact_info p {
  font-size: 1rem;
  color: #0c171c;
}
main section.contact_us .contact_us_area .contact_info {
  margin-top: 2rem;
}
main section.contact_us .contact_us_area .contact_info a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
main section.contact_us .contact_us_area .contact_info svg {
  fill: #ad50d2;
}
main section.contact_us .contact_us_area a.btn {
  margin-top: 3rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 0rem;
  background-color: #ad50d2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
main section.contact_us .contact_us_area a.btn p {
  color: #FCFFFF;
}
main section.contact_us .contact_us_area a.btn .btn_arrow {
  transition: all 0.2s ease-in-out;
  color: #FCFFFF;
}
main section.contact_us .contact_us_area a.btn:hover > .btn_arrow {
  transform: translateX(5px);
  transition: all 0.2s ease-in-out;
}
main section.contact_us .contact_us_area a.btn p {
  color: #FCFFFF;
}
main section.contact_us .contact_us_area a.btn svg {
  height: 24px;
  width: 24px;
  margin-left: 1rem;
  transition: all 0.3s ease-in-out;
}
main section.contact_us .contact_us_area a.btn svg path {
  fill: #FCFFFF;
}
main section.contact_us .contact_us_area a.btn:hover svg {
  transform: translate(5px);
}
@media screen and (max-width: 450px) {
  main section.contact_us .contact_us_area h3, main section.contact_us .contact_us_area .contact_info h3 {
    font-size: 2.5rem;
  }
  main section.contact_us .contact_us_area a.btn .contact_info p {
    font-size: 0.875rem;
  }
  main section.contact_us .contact_us_area a.btn svg {
    height: 1rem;
  }
}

@media screen and (max-width: 1000px) {
  section.about_us_area .about_founder_container,
  section.about_us_area .about_team_container {
    gap: 2rem !important;
  }
  section.work_counter {
    grid-template-areas: "work1 work2" "work3 work4" !important;
    gap: 4rem;
  }
}
@media screen and (max-width: 830px) {
  section.about_us_area .about_founder_container {
    grid-template-areas: "founder_img" "founder" !important;
  }
  section.about_us_area .about_team_container {
    grid-template-areas: "team_img" "team" !important;
  }
  section.instagram_work_area .insta_pic_area {
    margin-top: 2rem !important;
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media screen and (max-width: 800px) {
  header .hero_text_container h1 {
    font-size: 4.946rem;
  }
  section.section {
    padding: 4rem 2rem 0 !important;
  }
  section.section .about_founder_container,
  section.section .about_team_container {
    margin-top: 4rem !important;
  }
  section.section .about_founder_container h3,
  section.section .about_team_container h3 {
    font-size: 2.5rem !important;
    margin-bottom: 1rem !important;
  }
  section.instagram_work_area h3.section_title {
    font-size: 2.5rem !important;
    margin-bottom: 1rem !important;
  }
  section.contact_us {
    margin: 4rem 0rem !important;
  }
}
@media screen and (max-width: 450px) {
  header .hero_text_container h1 {
    font-size: 3.5rem;
  }
  section.section {
    padding: 2rem 2rem !important;
  }
  .about_founder_container p,
  .about_team_container p {
    font-size: 0.875rem;
  }
  section.work_counter {
    gap: 1rem;
  }
  section.work_counter h1 {
    font-size: 3.5rem !important;
  }
  section.work_counter h4 {
    font-size: 0.875rem;
  }
  section.instagram_work_area h3 {
    text-align: left !important;
  }
  section.instagram_work_area .insta_pic_area {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}/*# sourceMappingURL=about.css.map */