@import './global/global';
@import './global/navigation';
@import './global/footer';

$img_link: url('../assests/images/concert_1.webp');

//? HEADER STYLING
header {
    @include make_header($img_link);
}

//? HERO AREA CONTENT STYLING
header .hero_text_container {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $color_white;

    h1 {
        font-size: $heading_1;
    }

    h3 {
        font-size: $heading_3
    }
}


//? MAIN BODY CONTENT STYLING
main {
    section.section {
        margin: 8rem 0;
        padding: 0 8rem;
    }

    //? SECTION 1 & 2 ABOUT US AREA STYLING
    section.about_us_area {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 8rem;

        //? TEXT CONTINER STYING
        .about_text_container {
            flex: 1;

            h4 {
                font-family: $open_sans;
            }

            h1 {
                line-height: 2.5rem;
                margin-bottom: 2rem;
                font-size: $heading_3;
            }

            p {
                line-height: 1.7rem;
            }
        }

        //? IMAGE STYLING
        .about_image_container {
            min-height: 500px;
            position: relative;
            overflow: hidden;
            background: fuchsia;
            flex: 1;

            img {
                position: absolute;
                object-fit: cover;
                width: 100%;
            }
        }
    }

    //? SECTION 3 WORK COUNTER STYLING
    section.work_counter {
        background: linear-gradient(90deg, $dark75, $dark75), url('../assests/images/hero.jpeg') repeat fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        background-position: center;
        background-size: 100%;

        .work {
            text-align: center;
            padding: 8rem 0;
            color: $color_white;

            h1 {
                font-size: $heading_2;
            }
        }
    }

    //? SECTION 4 INSTAGRAM AREA STYLING
    section.instagram_work_area {
        h3 {
            font-size: $heading_3;
            text-align: center;
        }

        .insta_pic_area {
            display: flex;
            align-items: center;
            justify-content: space-between;
            overflow: hidden;
            margin-top: 4rem;
            gap: 1rem;

            .insta_pic_container {
                position: relative;
                overflow: hidden;
                height: 300px;
                top: 0;
                left: 0;
                flex: 1;

                &:hover img {
                    transform: scale(1.05);
                }

                img {
                    position: absolute;
                    width: 100%;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                    transition: all .5s ease-in-out;
                }
            }

        }
    }

    //? FOR CONTACT US SECTION
    section.contact_us {
        margin: 8rem 8rem;
        @include make_contact_section();
    }
}