@import './global/global';
@import './global/navigation';
@import './global/footer';
@import './global/responsive';

$img_link : url("../assests/images/img2.jpeg");


//? CONTACT HEADER AREA STYLING start -------------------------------
header {
    @include make_header($img_link);

    .hero_text_container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        padding: 1rem 0;
        bottom: 0;
        left: 0;
        width: 100%;
        background: $color_white;
        border-bottom: 1px solid $color_primary;

        .contact_info {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            flex-wrap: wrap;
            gap: .5rem;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .5rem;
                color: $color_primary;

                svg {
                    fill: $color_primary;
                }
            }
        }
    }
}

//? CONTACT HEADER AREA STYLING end -------------------------------

//? MAIN BODY STYLING start ---------------------------------------

main {
    padding: 0rem 8rem;

    //? CONTACT INFO AREA STYLING ------------
    section.contact_info_area {
        margin-top: 4rem;
        text-align: center;

        h1 {
            font-size: $heading_2;
        }

        p {
            width: 60%;
            margin: 1rem auto;
        }
    }

    //? CONTACT FORM AREA STYLING ------------
    section.contact_form_area {

        form {
            width: 70%;
            margin: 6rem auto;
        }

        .input_group_area {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;

            .input_group {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                width: 100%;
                margin-bottom: 2rem;

                input,
                select,
                textarea {
                    outline: none;
                    width: 100%;
                    height: 2.5rem;
                    margin-top: .5rem;
                    padding: .5rem;
                    font-family: $open_sans;
                    font-size: $paragraph;
                    border-radius: $border_radious;
                    background-color: $dark5;
                    border: 2px solid $dark10;
                }

                textarea {
                    height: 8rem;
                    width: 100%;
                    resize: vertical;
                    max-height: 10rem;
                    min-height: 3rem
                }
            }
        }

        button.btn {
            @include make_button($color_white, $color_primary);
            cursor: pointer;
            gap: 1rem;
            width: 100%;
            margin-top: 2rem;
            border: none;
            outline: none;

            &.disabled {
                cursor: not-allowed;
                opacity: 50%;
            }

            &:hover svg {
                transform: translate(5px);
            }

            svg {
                height: 1rem;
                transition: all .3s ease-in-out;
                fill: $color_white;
            }
        }
    }
}


//? RESPONSIVE STYLING
@include tablet {
    main {
        padding: 0rem 4rem;

        section.contact_info_area {
            h1 {
                font-size: $heading_2_t;
            }

            p {
                font-size: $paragraph_t;
                width: 100%;
                margin: auto;
            }
        }

        section.contact_form_area form {
            width: 100%;
            margin: 2rem auto;

            .input_group_area .input_group {
                label p {
                    font-size: $paragraph_t;
                }

                input,
                select,
                textarea {
                    font-size: $paragraph_t;
                }
            }
        }

    }
}

@include mobile {

    header {
        .hero_text_container {
            .contact_info a {
                svg {
                    height: .7rem;
                }

                p {
                    font-size: $paragraph_t;
                }
            }
        }
    }

    main {
        padding: 0rem 2rem;

        section.contact_info_area {
            text-align: left;

            h1 {
                font-size: $heading_3_t;
            }
        }

        section.contact_form_area {
            .input_group_area {
                display: flex;
                flex-wrap: wrap;
                gap: 0rem;

                .input_group {
                    margin-bottom: 1rem;
                }

                textarea {
                    height: 5rem !important;
                    max-height: 8rem;
                    min-height: 3rem
                }
            }

            button.btn {
                font-size: $paragraph_t;
            }
        }
    }
}