@import "./global/global";
@import "./global/navigation";
@import "./global/footer";
@import "./global/responsive";

// STYLE FILE GLOBAL SETTING
.sub_title {
    font-size: $paragraph;
    font-family: $paragraph_font;
    font-weight: 500;
    color: $color_primary;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

header {
    @include make_header();
    height: 80vh;
}

main {
    section.section {
        margin: 8rem 4rem 0; // top | left and right | bottom

        &:last-child {
            margin-bottom: 8rem;
        }
    }

    section.contact_section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .contact_section_right {
            grid-column: span 2;
            h1.contact_section_title {
                font-size: $heading_3;
                margin-bottom: 1rem;
            }

            form.contact_form {
                margin-top: 2rem;
                .contact_input_area {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 1rem;
                    margin-bottom: 1rem;

                    .contact_input_box {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        gap: 0.5rem;
                        width: 100%;

                        label.contact_label {
                            font-family: $paragraph_font;
                            font-size: $paragraph;
                        }

                        input.contact_input,
                        select.select_contact_input,
                        textarea.input_message {
                            padding: 0.5rem 1rem;
                            width: 100%;
                            outline: none;
                            border: 1px solid $dark25;
                            border-radius: $border_radius;
                            font-family: $paragraph_font;
                            font-size: $paragraph;
                            transition: all 0.2s ease-in-out;

                            &:active,
                            &:focus {
                                border: 1px solid $dark75;
                            }
                        }

                        textarea.input_message {
                            min-width: 100%;
                            max-width: 100%;
                            min-height: 20vh;
                        }
                    }
                }

                button.contact_form_submit_btn {
                    margin-top: 1rem;
                    @include make_button($color_primary, $color_white, $color_primary_light, $color_primary);
                    cursor: pointer;
                }
            }
        }
    }
}

@include tablet {
    .hero_container {
        .hero_text_container {
            padding: 0 4rem;

            .hero_title_text {
                font-size: $heading_3;
            }

            .hero_body_text {
                padding-right: 0.5rem;
                width: 90%;
            }
        }
    }

    main section.section {
        margin: 4rem 4rem 0; // top | left and right | bottom

        &:last-child {
            margin-bottom: 4rem;
        }
    }

    main section.contact_section {
        grid-template-columns: repeat(4, 1fr);

        .contact_section_right {
            grid-column: span 3;
            h1.contact_section_title {
                line-height: 3.5rem;
            }

            form.contact_form {
                .contact_select {
                    flex-direction: column;
                }
            }
        }
    }
}

@media screen and (max-width: 780px) {
    main section.contact_section {
        grid-template-columns: repeat(1, 1fr);

        .contact_section_right {
            h1.contact_section_title {
                line-height: 3.5rem;
            }

            form.contact_form {
                .contact_select {
                    flex-direction: column;
                }
            }
        }
    }
}

@include mobile {
    .hero_container {
        .hero_text_container {
            padding: 0 2rem;

            .hero_title_text {
                font-size: $heading_4;
            }

            .hero_body_text {
                width: 100%;
            }
        }
    }

    main section.section {
        margin: 4rem 2rem 0;
    }

    main section.contact_section {
        grid-template-columns: repeat(1, 1fr);

        .contact_section_right {
            h1.contact_section_title {
                font-size: $heading_4;
                line-height: 3rem;
            }

            form.contact_form {
                .contact_input_area {
                    flex-direction: column;
                }
            }
        }
    }
}
