@import './global/global';
@import './global/navigation';
@import "./global/footer";
@import './global/responsive';

header .error_text_container {
    display: grid;
    place-items: center;
    height: 100vh;
    padding: 1rem;

    .text_area {
        h1 {
            font-size: $heading_1;
            color: $color_error;
        }

        h2 {
            font-size: $heading_2;
        }

        p {
            margin-bottom: 3rem;
        }

        .btn {
            background: $dark100;
            padding: 1rem 2rem;
            font-family: $open_sans;
            color: white;
            border-radius: $border_radius;

            &:hover {
                background-color: $color_primary;
            }
        }
    }
}


@include mobile_small {
    header .error_text_container {
        h2 {
            font-size: $heading_2_t !important;
        }
    }

}