@import './global/global';
@import './global/navigation';
@import "./global/footer";
@import './global/responsive';

header .error_text_container {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .text_area {
        margin-bottom: 4rem;
    }

    h1 {
        margin-bottom: 4rem;
        font-size: $heading_1;
        color: $color_error;
    }

    h2 {
        font-size: $heading_2
    }

    p {
        color: $dark75;
        font-size: $paragraph;
    }

    .btn {
        outline: none;
        transition: .3s ease-in-out;
        padding: 1rem 2rem;
        background-color: $dark100;
        font-family: $open_sans;
        border-radius: $border_radius;
        color: $color_white;

        &:hover {
            background: $color_primary;
        }
    }
}


@include mobile {
    header .error_text_container {

        h1 {
            font-size: $heading_1_t;
        }

        h2 {
            font-size: $heading_2_t;
        }

        p {
            font-size: $paragraph_t;
        }

        .btn {
            font-size: $paragraph_t;
        }
    }
}

@include mobile_small {
    header .error_text_container {

        h2 {
            font-size: $heading_3_t;
        }
    }

}