* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcffff;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

.main_body {
  min-height: 100vh;
  height: 100%;
}

nav.nav_container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #fcffff;
  padding: 1rem 4rem;
  z-index: 9999;
  border-bottom: 1px solid rgba(12, 23, 28, 0.2509803922);
}
nav.nav_container .hamberger {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
}
nav.nav_container .hamberger input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}
nav.nav_container .hamberger input:checked {
  opacity: 0;
  width: 0;
}
nav.nav_container .hamberger::before,
nav.nav_container .hamberger::after,
nav.nav_container .hamberger input {
  content: "";
  width: 1.5rem;
  height: 0.15rem;
  transform-origin: left center;
  background: #0c171c;
  border-radius: 1rem;
  transition: all 200ms ease-in-out;
}
nav.nav_container .hamberger:has(input:checked)::before {
  rotate: 45deg;
  width: 1.4849242405rem;
  translate: 0 -0.075rem;
  transition: all 200ms ease-in-out;
}
nav.nav_container .hamberger:has(input:checked)::after {
  rotate: -45deg;
  width: 1.4849242405rem;
  translate: 0 0.075rem;
  transition: all 200ms ease-in-out;
}
nav.nav_container .logo_container .logo {
  height: 40px;
}
nav.nav_container .social_container i.social_icons {
  padding: 0.5rem;
  cursor: pointer;
  font-size: 18px;
  border-radius: 100%;
}
nav.nav_container .social_container i.social_icons:hover {
  background: rgba(173, 80, 210, 0.2431372549);
}

.nav_link_container {
  position: relative;
  z-index: 1;
}
.nav_link_container ul.nav_links {
  position: fixed;
  background: #fcffff;
  height: 0%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.nav_link_container ul.nav_links .link_area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}
.nav_link_container ul.nav_links .links {
  font-family: "Playfair Display", serif;
  font-size: 2.369rem;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease;
}
.nav_link_container ul.nav_links .links:nth-child(1) {
  transition: all 0.3s ease 0.2s;
}
.nav_link_container ul.nav_links .links:nth-child(2) {
  transition: all 0.3s ease 0.4s;
}
.nav_link_container ul.nav_links .links:nth-child(3) {
  transition: all 0.3s ease 0.6s;
}
.nav_link_container ul.nav_links .links:nth-child(4) {
  transition: all 0.3s ease 0.8s;
}
.nav_link_container ul.nav_links .links.fade {
  opacity: 1;
  transform: translateY(0px);
}
.nav_link_container ul.nav_links .links a {
  color: #0c171c;
  transition: all 0.2s ease-in-out;
}
.nav_link_container ul.nav_links .links a:hover {
  color: #ad50d2;
}
.nav_link_container ul.nav_links .social_container_2 {
  display: none;
}
.nav_link_container ul.nav_links .social_container_2 .social_icons_2 {
  padding: 0.5rem;
  font-size: 18px;
  border-radius: 100%;
  opacity: 0;
  transition: all 0.2s ease 0s;
}
.nav_link_container ul.nav_links .social_container_2 .social_icons_2:nth-child(1) {
  transition: all 0.3s ease 1s;
}
.nav_link_container ul.nav_links .social_container_2 .social_icons_2:nth-child(2) {
  transition: all 0.3s ease 1.2s;
}
.nav_link_container ul.nav_links .social_container_2 .social_icons_2:nth-child(3) {
  transition: all 0.3s ease 1.4s;
}
.nav_link_container ul.nav_links .social_container_2 .social_icons_2.fade_icons {
  opacity: 1;
}
.nav_link_container ul.nav_links .social_container_2 .social_icons_2:hover {
  background: rgba(173, 80, 210, 0.2431372549);
  transition: all 0.2s ease 0s;
}
.nav_link_container ul.show {
  height: 100%;
  transition: all 200ms ease-in-out;
  pointer-events: all;
}

@media screen and (max-width: 980px) {
  nav.nav_container {
    padding: 1rem 4rem;
  }
  .social_container {
    display: none;
  }
  .nav_link_container ul.nav_links {
    padding: 0em 4rem;
    align-items: flex-start;
  }
  .nav_link_container ul.nav_links .link_area {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .nav_link_container ul.nav_links #social_container_2 {
    display: initial;
  }
  .nav_link_container ul.show {
    height: 100%;
  }
}
@media screen and (max-width: 550px) {
  nav.nav_container {
    padding: 1rem 2rem;
  }
  nav.nav_container .logo_container .logo {
    height: 35px;
  }
  .nav_link_container ul.nav_links {
    padding: 0em 2rem;
  }
  .nav_link_container ul.nav_links .link_area .links a {
    font-size: 2.369rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcffff;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

.main_body {
  min-height: 100vh;
  height: 100%;
}

footer.footer_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(12, 23, 28, 0.0509803922);
  padding: 1.5rem 4rem;
}
footer.footer_area .social_container {
  display: flex;
  gap: 0.5rem;
}
footer.footer_area .social_container a.footer_social_link i.social_icons {
  padding: 0.5rem;
  cursor: pointer;
  font-size: 18px;
  border-radius: 100%;
  color: #0c171c;
}
footer.footer_area .social_container a.footer_social_link i.social_icons:hover {
  background: rgba(173, 80, 210, 0.2431372549);
}

@media screen and (max-width: 550px) {
  footer.footer_area {
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 2rem;
    gap: 1rem;
  }
}
header {
  height: 100vh;
  overflow: hidden;
  position: relative;
  height: 100vh;
}
header .hero_image {
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: -1;
}
header .hero_text_container {
  height: 100%;
  padding: 0 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: auto;
  color: #fcffff;
}
header .hero_text_container .hero_title_text {
  font-size: 5.61rem;
  line-height: 1em;
  margin-bottom: 2rem;
}
header .hero_text_container .hero_body_text {
  width: 60%;
}
header .hero_text_container .hero_cta_area {
  margin-top: 4rem;
}
header .hero_text_container .hero_cta_area a {
  padding: 1rem 3rem;
  background-color: rgba(12, 23, 28, 0.7490196078);
  color: #fcffff;
  border: 2px solid #fcffff;
  font-family: "Open Sans", sans-serif;
  border-radius: 10rem;
}

header .hero_text_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  color: #fcffff;
}
header .hero_text_container h1 {
  font-size: 5.61rem;
}
header .hero_text_container h3 {
  font-size: 3.157rem;
}

.filter_links_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 8rem auto 4rem auto;
  padding: 0rem 8rem;
}

main section.section {
  margin: 8rem 8rem 0;
}
main section:last-child {
  margin-bottom: 8rem;
}
main section.fashion_pics h1.section_title {
  margin-bottom: 2rem !important;
  font-size: 2.369rem;
}
main section.fashion_pics .gallery {
  -moz-columns: 3 20rem;
       columns: 3 20rem;
}
main section.fashion_pics .gallery .img_container {
  height: 100%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin-bottom: 0.8rem;
}
main section.fashion_pics .gallery .img_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 0%;
     object-position: 50% 0%;
}
main section.fashion_pics .gallery .img_container img:hover {
  filter: brightness(-1);
}

#lightBox {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10000;
  background: rgba(12, 23, 28, 0.7490196078);
  display: none;
}
#lightBox .ld_img {
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  animation: show_image 0.5s ease-in-out forwards;
}

@keyframes show_image {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
#lightBox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox_control {
  position: fixed;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 8rem;
  z-index: 100001;
  display: none;
}
.lightbox_control .control_btn {
  padding: 1rem;
  cursor: pointer;
}
.lightbox_control .control_btn svg {
  height: 8rem;
  width: 2rem;
}
.lightbox_control .control_btn svg path {
  padding: 2rem;
  fill: #fcffff;
}

.lightbox_control.active_control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 900px) {
  section.fashion_pics .gallery {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  #lightBox .ld_img {
    height: 500px;
  }
  .lightbox_control {
    padding: 0rem 4rem;
  }
  .lightbox_control .control_btn {
    background-color: rgba(12, 23, 28, 0.2509803922);
    border-radius: 1rem;
  }
}
@media screen and (max-width: 980px) {
  header .hero_text_container h1 {
    font-size: 3.157rem;
  }
  section.section {
    margin: 4rem 4rem 0 !important;
  }
  section:last-child {
    margin-bottom: 4rem !important;
  }
  #lightBox .ld_img {
    height: 500px;
  }
  .lightbox_control {
    padding: 0rem 1rem;
  }
}
@media screen and (max-width: 550px) {
  header .hero_text_container h1 {
    font-size: 3.157rem;
  }
  header .hero_text_container p {
    font-size: 1rem;
  }
  section.section {
    margin: 4rem 2rem 0 !important;
  }
  section:last-child {
    margin-bottom: 4rem !important;
  }
  section.fashion_pics .gallery {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  #lightBox .ld_img {
    height: auto;
    width: 100%;
  }
  .lightbox_control {
    padding: 0rem 0rem;
  }
  .lightbox_control .control_btn svg {
    height: 4rem;
    width: 1.5rem;
  }
}/*# sourceMappingURL=portfolio.css.map */