@import "./global/global";
@import "./global/navigation";
@import "./global/footer";
@import "./global/responsive";

$img_link : url("../assests/images/img12.jpeg");

header {
    height: 100vh;
    @include make_header($img_link);
}

header .hero_text_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    color: $color_white;

    h1 {
        font-size: $heading_1;
    }

    h3 {
        font-size: $heading_3
    }
}



//? STYLING ALL THE FULTER BUTTONS start ----------------------------
.filter_links_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 8rem auto 4rem auto;
    padding: 0rem 8rem;
}

//? MAIN BODY STYLING start --------------------------
main {
    section.section {
        margin: 8rem 8rem 0;
    }

    section:last-child {
        margin-bottom: 8rem;
    }

    section.gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 300px 300px;
        grid-auto-flow: dense;
        gap: 1rem;
        grid-template-rows: masonry;

        .img_container {
            height: 100%;
            overflow: hidden;
            position: relative;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 50%;

                &:hover {
                    filter: brightness(-1);
                }
            }

            .img_title {
                opacity: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $color_white;
                pointer-events: none;
            }

            &:hover .img_title {
                opacity: 1;
            }
        }
    }

    section.contact_us {
        @include make_contact_section();
    }
}

//? Light box Styling


#lightBox {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background: $dark75;
    display: none;

    .ld_img {
        height: 500px;
        width: 60%;
        object-fit: cover;
        object-position: 50% 50%;
    }
}

#lightBox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightbox_control {
    position: fixed;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 8rem;
    z-index: 100001;
    display: none;

    .control_btn {
        padding: 1rem;
        cursor: pointer;

        svg {
            height: 8rem;
            width: 2rem;
            // background: lightseagreen;

            path {
                padding: 2rem;
                fill: $color_white;
            }
        }
    }
}

.lightbox_control.active_control {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

//? MAIN BODY STYLING end --------------------------


//? RESPONSIVE STYLING 
@media screen and (max-width: 900px) {
    section.gallery {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    #lightBox {
        .ld_img {
            width: 90%;
        }
    }

    .lightbox_control {
        padding: 0rem 4rem;

        .control_btn {
            background-color: $dark25;
            border-radius: $border_radius;
        }
    }

}

@include tablet {
    header .hero_text_container {
        h1 {
            font-size: $heading_1_t;
        }
    }

    section.section {
        margin: 4rem 4rem 0 !important;
    }

    section:last-child {
        margin-bottom: 4rem !important;
    }

    section.gallery {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    #lightBox {
        .ld_img {
            width: 100%;
            height: auto;
        }
    }

    .lightbox_control {
        padding: 0rem 1rem;
    }
}

@include mobile {
    header .hero_text_container {
        h1 {
            font-size: $heading_2_t;
        }

        p {
            font-size: $paragraph_t;
        }
    }

    section.section {
        margin: 4rem 2rem 0 !important;
    }

    section:last-child {
        margin-bottom: 4rem !important;
    }

    section.gallery {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .lightbox_control {
        padding: 0rem 0rem;

        .control_btn {

            svg {
                height: 8rem;
                width: 1.5rem;
            }
        }
    }
}