@import "./global/global";
@import "./global/navigation";
@import "./global/footer";

$img_link : url("../assests/images/img12.jpeg");

header {
    height: 100vh;
    @include make_header($img_link);
}

header .hero_text_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    // background: lightcoral;
    color: $color_white;
    // z-index: -1;

    h1 {
        font-size: $heading_1;
    }

    h3 {
        font-size: $heading_3
    }
}

.filter_links_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    // background: lightcoral;
    padding: 0rem 8rem;
    margin: auto;
    margin-top: 8rem;

    .filter_links {
        cursor: pointer;
        font-family: $open_sans;
        // background: $dark25;
        padding: 0.5rem;
        width: 100%;
        margin: 0rem .5rem;
        text-align: center;
        font-size: $paragraph;
        color: $dark100;

        &.active {
            color: $color_primary;
            border-top: 2px solid $color_primary;
        }
    }
}

main {
    section.gallery {
        margin-top: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .images {
            gap: 1rem;
            columns: 4 300px;
            max-width: 80%;

            li {
                margin-bottom: 1rem;
            }

            .itembox {
                width: 100%;
                height: auto;
                max-height: 500px;
                border-radius: $border_radious;
                overflow: hidden;
            }

            img {
                width: 100%;
                max-height: 500px;
                object-fit: cover;
                border-radius: $border_radious;
                transition: all .2s ease-in-out;

                &:hover {
                    transform: scale(1.1);
                }
            }

            .show_item {
                animation: show .5s ease 0s 1 forwards;
                transform-origin: center;
            }

            .hide_item {
                animation: hide .5s ease 0s 1 forwards;
                transform-origin: center;
            }

        }
    }

    section.contact_us {
        margin: 8rem 8rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .contact_us_area {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h3 {
                font-size: $heading_3;
            }

            p {
                font-size: $paragraph;
            }

            .contact_info {
                margin-top: 2rem;
                @extend .contact_us_area;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: .5rem;
                    margin-top: .5rem;
                }

                svg {
                    fill: $color_primary;
                }
            }

            a.btn {
                margin-top: 3rem;
                @include make_button($color_white, $color_primary);

                svg {
                    height: 24px;
                    width: 24px;
                    margin-left: 1rem;
                    transition: all .3s ease-in-out;

                    path {
                        fill: $color_white;
                    }
                }

                &:hover svg {
                    transform: translate(5px);
                }
            }
        }
    }
}

@keyframes hide {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
        margin: 0;
        width: 0;
        height: 0;
    }
}

@keyframes show {
    0% {
        transform: scale(0);
        margin: 0;
        width: 0;
        height: 0;
    }

    100% {
        transform: scale(1);
    }
}