@import "./global/global";
@import './global/navigation';
@import './global/footer';
@import './global/responsive';

// header {
//     // @include make_header();
// }
header {
    @include make_header();
}

header .hero_text_container {
    // background-color: aqua;
    height: 100%;
    padding: 0 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: auto;
    color: $color_white;

    .hero_title_text {
        font-size: $heading_1;
        line-height: 1em;
        margin-bottom: 2rem;
    }

    .hero_body_text {
        width: 80ch;
    }

    .hero_cta_area {
        margin-top: 4rem;

        a {
            padding: 1rem 3rem;
            background-color: $dark75;
            color: $color_white;
            border: 2px solid $color_white;
            font-family: $open_sans;
            border-radius: 10rem;
        }
    }
}


main {
    section.section {
        margin: 8rem 8rem 0; // top | left and right | bottom

        &:last-child {
            margin-bottom: 8rem;
        }
    }

    section.service_showcase_area {
        .service_container {
            margin-bottom: 8rem;

            .service_image {
                grid-area: service_image;
            }

            .service_info {
                grid-area: service_info;
            }

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: 'service_info service_image';
            gap: 6rem;

            &:nth-child(even) {
                grid-template-areas: 'service_image service_info';
            }

            .service_info {
                h3 {
                    font-size: $heading_3;
                    margin-bottom: 1rem;
                }

                a {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-top: 4rem;
                    gap: 1rem;

                    p.view_more_btn {
                        color: $dark100;
                    }

                    &:hover svg {
                        transform: translate(5px)
                    }
                }
            }

            .service_image {
                overflow: hidden;
                height: 550px;
                width: 100%;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: 50% 0;
                }
            }
        }
    }

    section.call_to_action {
        .cta_imge_area {
            position: relative;
            padding: 0;
            height: 70vh;

            img {
                padding: 0 !important;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .call_to_action_textarea {
                position: absolute;
                top: 3%;
                left: 50%;
                transform: translate(-50%, 0%);
                width: 100%;
                color: #fff;
                text-align: center;

                .cta_title {
                    font-size: $heading_2;
                }

                .cta_desc {
                    font-size: $paragraph;
                }
            }
        }

        .cta_footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: $dark25;
            padding: 1rem 8rem; //top and bottom | left and right
            margin: 0;

            .cta_footer_textarea {
                h1.cta_footer_title {
                    font-size: $heading_4;
                }
            }

            .btn_cta_footer {
                a {
                    @include make_button($color_white, $dark100);
                    gap: .5rem;

                    &:hover svg {
                        transform: translate(4px);
                    }

                    svg {
                        transition: all .3s ease-in-out;

                        path {
                            fill: $color_white;
                        }
                    }
                }
            }
        }
    }

    section.glimpse_of_work {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1.glimpse_title {
            font-size: $heading_3;
            margin-bottom: 2rem;
            text-align: center;
        }

        .wrapper {
            // max-width: 1100px;
            width: 100%;

            .carousel {
                display: grid;
                grid-auto-flow: column;
                grid-auto-columns: calc((100% / 3) - 12px);
                gap: 1rem;
                overflow-x: auto;
                scroll-snap-type: x mandatory;
                scroll-behavior: smooth;
                scrollbar-width: none;

                &::-webkit-scrollbar {
                    display: none;
                }

                &.dragging {
                    scroll-behavior: auto;
                    scroll-snap-type: none;

                    .img_container {
                        cursor: grab;
                        user-select: none;
                    }
                }

                &.no_transition {
                    scroll-behavior: auto;
                }

                .img_container {
                    height: 400px;
                    overflow: hidden;
                    border-radius: $border_radius;
                    scroll-snap-align: start;

                    img {
                        height: 400px;
                        object-fit: cover;
                        object-fit: 50% 0;
                    }
                }
            }

            .control_button {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8rem;
                margin-top: 2rem;

                .control {
                    background: $dark75;
                    padding: .5rem 1rem;
                    border-radius: $border_radius;
                    cursor: pointer;

                    &:hover {
                        background: $dark100;
                    }

                    svg {
                        height: 1.5rem;
                        width: 1.5rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        path {
                            fill: $color_white;
                        }
                    }
                }
            }
        }

    }

    section.instagram_work_area {
        margin: 8rem 0;

        h3 {
            font-size: $heading_3;
            text-align: center;
        }

        .insta_pic_area {
            display: flex;
            align-items: center;
            justify-content: space-between;
            overflow: hidden;
            margin-top: 2rem;
            // gap: 1rem;

            .insta_pic_container {
                position: relative;
                overflow: hidden;
                height: 250px;
                width: 200px;
                top: 0;
                left: 0;
                flex: 1;

                &:hover img {
                    transform: scale(1.05);
                }

                img {
                    position: absolute;
                    width: 100%;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                    transition: all .5s ease-in-out;
                }
            }

        }
    }

    section.contact_us {
        @include make_contact_section();
    }
}


//?? RESPONSIVE DESIGN

@include tablet {
    .hero_container {
        .hero_text_container {
            padding: 0 4rem;

            .hero_title_text {
                font-size: $heading_3;
            }

            .hero_body_text {
                padding-right: .5rem;
                width: 50ch;
            }
        }
    }

    section.section {
        margin: 4rem 4rem 0 !important; // top | left and right | bottom

        &:last-child {
            margin-bottom: 4rem !important;
        }
    }

    section.service_showcase_area {
        .service_container {
            grid-template-columns: repeat(1, 1fr) !important;
            grid-template-areas: 'service_image' 'service_info' !important;
            gap: 2rem !important;

            .service_info {
                h3.service_title {
                    font-size: $heading_3_t
                }

                p.service_desc {
                    font-size: $paragraph_t;
                }

                a {
                    margin-top: 2rem;

                    p.view_more_btn {
                        font-size: $paragraph_t;
                    }
                }
            }
        }
    }

    section.call_to_action {
        .cta_imge_area {
            .call_to_action_textarea {
                .cta_title {
                    font-size: $heading_3_t !important;
                }

                .cta_desc p {
                    font-size: $paragraph_t !important;
                }
            }
        }

        .cta_footer {
            flex-direction: column !important;
            gap: 1rem;
            align-items: flex-start !important;
            padding: 1rem 4rem !important; //top and bottom | left and right

            .cta_footer_textarea {
                h1.cta_footer_title {
                    font-size: $paragraph !important;
                }

                p.cta_footer_desc {
                    font-size: $paragraph_t
                }
            }

            .btn_cta_footer {
                a {
                    @include make_button($color_white, $dark100);
                    gap: .5rem;
                    padding: .5rem 1rem !important;

                    p {
                        font-size: $paragraph_t;
                    }

                    &:hover svg {
                        transform: translate(4px);
                    }

                    svg {
                        transition: all .3s ease-in-out;

                        path {
                            fill: $color_white;
                        }
                    }
                }
            }
        }
    }

    section.glimpse_of_work {
        .wrapper {
            .carousel {
                grid-auto-columns: calc((100% / 2) - 12px) !important;
            }
        }
    }
}

@include mobile {
    .hero_container {
        .hero_text_container {
            padding: 0 2rem;

            .hero_title_text {
                font-size: $heading_4;
            }

            .hero_body_text {
                width: 30ch;
            }
        }
    }

    section.section {
        margin: 2rem 2rem 0 !important;
    }


    section.glimpse_of_work {
        .wrapper .carousel {
            grid-auto-columns: 100% !important;
        }
    }
}