@import "./global/global";
@import './global/navigation';

header {
    background: linear-gradient(90deg, $dark25, $dark25), url("../assests/images/hero.jpeg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

header .hero_text_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    // background: lightcoral;
    color: $color_white;
    // z-index: -1;

    h1 {
        font-size: $heading_1;
    }

    h3 {
        font-size: $heading_3
    }
}