@import "./global/global";
@import './global/navigation';
@import './global/footer';
@import './global/responsive';

header {
    @include make_header();
}

main {
    section.section {
        margin: 8rem 8rem 0; // top | left and right | bottom

        &:last-child {
            margin-bottom: 8rem;
        }
    }

    section.about_section {
        margin-bottom: 8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;

        .about_section_image_area {
            width: 100%;

            img {
                height: 600px;
                width: 100%;
                object-fit: cover;
                object-position: top;
                filter: grayscale(1);
            }
        }

        .about_section_info_area {
            .about_section_sub_heading {
                font-family: $open_sans;
                font-weight: bold;
                color: $color_primary;
                margin-bottom: 1rem;
            }

            .about_section_title {
                font-size: $heading_3;
                line-height: 3.5rem;
                margin-bottom: 1.5rem;
            }

            .about_section_desc {
                margin-bottom: 4rem;
            }

            a.about_cta_btn {
                @include make_button($color_white, $color_primary);
                width: 30%;
            }

            .about_social_media {
                margin-top: 2rem;
                display: flex;
                align-items: center;
                gap: 1rem;

                .social_icons {
                    color: $dark100;
                    font-size: 20px;
                    padding: .5rem;
                    border-radius: 100%;
                    transition: .2s ease-in-out;

                    &:hover {
                        background: $color_primary;
                    }
                }
            }
        }
    }

    section.services_section {
        background-color: $dark100;
        padding: 4rem 8rem;
        display: flex;
        flex-direction: column;
        gap: 4rem;

        .service_section_info {
            text-align: center;

            .service_section_sub_title {
                font-weight: bold;
                color: $color_primary;
                margin-bottom: 1rem;
            }

            .service_section_title {
                font-size: $heading_3;
                color: $color_white;
            }
        }

        .services_container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;

            .card {
                position: relative;
                height: 60vh;
                border: 1px solid #ffffff6c;
                overflow: hidden;

                .card_image {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: top;
                    opacity: 5%;
                    transition: all .2s ease-in-out;
                }

                &:hover>.card_image {
                    opacity: 50%;
                }

                .service_count {
                    position: absolute;
                    top: 4%;
                    margin: 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 50px;
                    width: 50px;
                    border-radius: 10rem;
                    background: $dark100;
                    box-shadow: 1px 1px 5px $dark75;

                    .service_number {
                        color: $color_white;
                    }
                }

                .card_service_info_area {
                    position: absolute;
                    bottom: 4%;
                    color: $color_white;
                    padding: 1rem;

                    .card_title {
                        margin-bottom: 2rem;
                        font-family: $open_sans;
                    }

                    .card_desc {
                        margin-bottom: 1rem;
                    }

                    .card_btn .btn {
                        color: $color_white;
                        font-family: $open_sans;
                        padding-bottom: .2rem;
                        border-bottom: 1px solid #ffffff57;
                        transition: all .2s ease-in-out;

                        &:hover {
                            border-bottom: 1px solid #ffffff
                        }
                    }
                }
            }
        }
    }

    section.glimpse_of_work {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1.glimpse_title {
            font-size: $heading_3;
            margin-bottom: 2rem;
            text-align: center;
        }

        .wrapper {
            // max-width: 1100px;
            width: 100%;

            .carousel {
                display: grid;
                grid-auto-flow: column;
                grid-auto-columns: calc((100% / 3) - 12px);
                gap: 1rem;
                overflow-x: auto;
                scroll-snap-type: x mandatory;
                scroll-behavior: smooth;
                scrollbar-width: none;

                &::-webkit-scrollbar {
                    display: none;
                }

                &.dragging {
                    scroll-behavior: auto;
                    scroll-snap-type: none;

                    .img_container {
                        cursor: grab;
                        user-select: none;
                    }
                }

                &.no_transition {
                    scroll-behavior: auto;
                }

                .img_container {
                    height: 400px;
                    overflow: hidden;
                    border-radius: $border_radius;
                    scroll-snap-align: start;

                    img {
                        height: 400px;
                        object-fit: cover;
                        object-fit: 50% 0;
                    }
                }
            }

            .control_button {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8rem;
                margin-top: 2rem;

                .control {
                    background: $dark75;
                    padding: .5rem 1rem;
                    border-radius: $border_radius;
                    cursor: pointer;

                    &:hover {
                        background: $dark100;
                    }

                    svg {
                        height: 1.5rem;
                        width: 1.5rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        path {
                            fill: $color_white;
                        }
                    }
                }
            }
        }

    }

    section.contact_us {
        @include make_contact_section();
    }
}


//?? RESPONSIVE DESIGN

@include tablet {
    .hero_container {
        .hero_text_container {
            padding: 0 4rem;

            .hero_title_text {
                font-size: $heading_3;
            }

            .hero_body_text {
                padding-right: .5rem;
                width: 90%;
            }
        }
    }

    main section.section {
        margin: 4rem 4rem 0; // top | left and right | bottom

        &:last-child {
            margin-bottom: 4rem;
        }
    }

    main section.about_section {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 4rem;
        gap: 1rem;

        .about_section_image_area {
            img {
                height: 400px;
                width: inherit;
            }
        }

        .about_section_info_area {
            .about_section_title {
                font-size: $heading_3;
                line-height: 3.5rem;
            }

            .about_section_desc {
                margin-bottom: 2rem;
            }

            a.about_cta_btn {
                width: 100%;
            }
        }
    }

    main section.services_section {
        padding: 4rem 4rem;

        .service_section_info {
            .service_section_title {
                font-size: $heading_3;
            }
        }

        .services_container {
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;

            .card {
                .card_image {
                    opacity: 30%;
                }
            }
        }
    }

    section.glimpse_of_work {
        .wrapper {
            .carousel {
                grid-auto-columns: calc((100% / 2) - 12px) !important;
            }
        }
    }
}

@include mobile {
    .hero_container {
        .hero_text_container {
            padding: 0 2rem;

            .hero_title_text {
                font-size: $heading_4;
            }

            .hero_body_text {
                width: 100%;
            }
        }
    }

    main section.section {
        margin: 2rem 2rem 0;
    }

    main section.about_section {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 2rem;

        .about_section_image_area {
            img {
                height: 400px;
                width: 100%;
            }
        }

        .about_section_info_area {
            .about_section_title {
                font-size: $heading_4;
                line-height: 2.5rem;
            }

            a.about_cta_btn {
                width: 100%;
                padding: 1rem 1rem;
            }
        }
    }

    main section.services_section {
        padding: 4rem 2rem;

        .service_section_info {
            text-align: left;

            .service_section_title {
                font-size: $heading_4;
            }
        }

        .services_container {
            grid-template-columns: repeat(1, 1fr);
            gap: 1rem;
        }
    }

    main section.glimpse_of_work {
        .wrapper .carousel {
            grid-auto-columns: 100%;
        }
    }
}